@model Hala.Models.SignInUser

@{
    ViewData["Title"] = "logIn";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-5 left-img-login d-none d-md-block"></div>
        <div class="col">
            <div class="row justify-content-center align-items-center">
                <div class="col-10 col-lg-7 mt-4">
                    <a href="#" class="Login-Logo">
                        Hala HR system
                    </a>
                    <form method="post" asp-controller="Account" asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group col-form-label text-right">
                            <label asp-for="Email" class="form-label h3 login-label">Email<span class="text-danger">*</span></label>
                            <input asp-for="Email" type="email" class="form-control mb-3">
                            <span asp-validation-for="Email" class="validation-text"></span>
                        </div>

                        <div class="form-group col-form-label text-right">
                            <label asp-for="Password" class="form-label h3 login-label">Password<span class="text-danger">*</span></label>
                            <input asp-for="Password" type="password" class="form-control mb-3">
                            <span asp-validation-for="Password" class="validation-text"></span>
                        </div>

                        <div class="d-grid col-6 mx-auto mb-2">
                            <button class="btn login-btn" type="submit">LogIn</button>
                        </div>
                        <div class="form-text d-flex justify-content-between mb-3">
                            <span class="Rest-Right">Don't Have Account?</span>
                            <a asp-controller="Account" asp-action="Signup" class="Rest-Link">SignUp</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>